  .popup-overlay {
      background: rgba(0, 0, 0, 0.5);
  }



  .modal {
      font-size: 12px;
      width: 100%;
      height: 100%;
  }

  .modal .content {
      width: 1100px;
      display: flex;
      height: 750px; 
  }

  .modal .content .left img {
      width: 600px;
      height: 750px;
      object-fit: cover;
  }

  .modal .content .right {
      width: 500px;
      background: white;
  }

  .modal .content .right .header {
      border-bottom: 1px solid #e6e6e6;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
  }

  .modal .content .right .header .profileHeader {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
  }

  .modal .content .right .header .profileHeader img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
  }


  .modal .content .right .header .icons {
      font-size: 22px;
      display: flex;
      align-items: center;
      color: red;
  }

  .modal .content .right .header .closeModal {
      font-size: 26px;
      color: #737373;
      cursor: pointer;
  }

  .commentsContent {
      height: 555px;
      overflow-y: scroll;
  }

  .commentBox {
      display: flex;
      padding: 10px;
      gap: 12px;
      align-items: flex-start;
      /* justify-content: flex-start;
    align-items: center;
     */

  }

  .commentsContent .commentBox .left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
  }

  .commentsContent .commentBox .left img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
  }

  .post-footer {
      border-top: 1px solid #e6e6e6;
      padding: 10px;
  }

  .post-footer .icons {
      font-size: 22px;
      padding-bottom: 5px;
  }

  .post-footer h6 {
      font-size: 14px;
      font-weight: 500;
  }

  .post-footer span {
      font-size: 11px;
      color: #9e9d9d;
      font-weight: 500;
  }

  .post-footer .commentPost {
      margin-top: 10px;
      position: relative;
  }


  .post-footer .commentPost input {
      width: 100%;
      border: none;
      outline: none;
      border-top: 1px solid #e6e6e6;
      padding-top: 15px;
  }

  .post-footer .commentPost input:hover {
      color: #9e9d9d;
  }

  .post-footer .commentPost button {
      position: absolute;
      top: 15px;
      right: 0;
      border: none;
      outline: none;
      background: transparent;
      color: #0095F6;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
  }



  

  .editProfile-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .modal form.editProfile {
      background: white; 
      width: 350px;
      padding: 20px;

  } 
  form.editProfile  .uploadImage-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .uploadImage-container img{
    width: 50px;
  }

  form.editProfile .inputImage {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: flex-end;
      width: 250px;
      height: 55px;
  }

  form.editProfile .inputImage span {
      font-size: 2em;
      color: #3498db; 
      cursor: pointer;
  }

   

  form.editProfile div {
      margin-bottom: 15px;
  }

  form.editProfile label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #333; 
  }

  form.editProfile input[type="text"],
  form.editProfile input[type="file"],
  form.editProfile {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

 

  form.editProfile button {
      background-color: #3498db; 
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
  }

  form.editProfile button:hover {
      background-color: #106ba8; 
  }